@model IEnumerable<EdVerse.ViewModels.Academic.Course.CourseListVm>
@{
    ViewData["Title"] = "Courses";
}

<div class="container mt-4">

    <div class="d-flex justify-content-between align-items-center mb-3">

        @if (TempData["Success"] != null)
        {
            <div class="alert alert-success alert-dismissible fade show">

                @TempData["Success"]

                <button type="button"
                        class="btn-close"
                        data-bs-dismiss="alert">
                </button>

            </div>
        }
        <h2>Course Management</h2>

        <a asp-action="Create"
           class="btn btn-primary">

            <i class="bi bi-plus-circle"></i>
            Create Course

        </a>

        <button type="button" onclick="toastermessage()" >
            Toast
        </button>

    </div>

    <table class="table table-bordered table-hover align-middle">

        <thead class="table-dark">

            <tr>

                <th>Code</th>

                <th>Name</th>

                <th>Duration</th>

                <th>Semesters</th>

                <th width="220">Actions</th>

            </tr>

        </thead>

        <tbody>

            @if (Model.Any())
            {
                foreach (var item in Model)
                {
                    <tr>

                        <td>@item.CourseCode</td>

                        <td>@item.CourseName</td>

                        <td>@item.DurationInYears Years</td>

                        <td>@item.TotalSemesters</td>

                        <td>

                            <a asp-action="Details"
                               asp-route-id="@item.Id"
                               class="btn btn-info btn-sm">
                                Details
                            </a>

                            <a asp-action="Edit"
                               asp-route-id="@item.Id"
                               class="btn btn-warning btn-sm">
                                Edit
                            </a>

                            <button type="button"
                                    class="btn btn-danger btn-sm btn-delete"
                                    data-bs-toggle="modal"
                                    data-bs-target="#confirmModal"
                                    data-id="@item.Id"
                                    data-name="@item.CourseName">

                                Delete

                            </button>

                        </td>

                    </tr>
                }
            }
            else
            {
                <tr>

                    <td colspan="5"
                        class="text-center">

                        No Courses Available.

                    </td>

                </tr>
            }

        </tbody>

    </table>

    @await Html.PartialAsync("_ConfirmActionModal")

</div>


<script>
           document.querySelectorAll(".btn-delete").forEach(btn => {

        btn.addEventListener("click", function () {

            document.getElementById("deleteId").value = this.dataset.id;

            document.getElementById("modalTitle").innerText = "Delete Course";

            document.getElementById("modalMessage").innerText =
                `Are you sure you want to delete '${this.dataset.name}'?`;

        });

    });

    function toastermessage(){
     debugger

        toastr.success("Error occured while toasting");
    }
</script>