@model IEnumerable<EdVerse.ViewModels.Academic.Course.CourseListVm>

@{
    ViewData["Title"] = "Courses";
}

<div class="container mt-4">

    <div class="d-flex justify-content-between align-items-center mb-3">

        <h2>Course Management</h2>

        <a asp-action="Create"
           class="btn btn-primary">

            <i class="bi bi-plus-circle"></i>
            Create Course

        </a>

    </div>

    <table class="table table-bordered table-hover align-middle">

        <thead class="table-dark">

            <tr>

                <th>Code</th>

                <th>Name</th>

                <th>Duration</th>

                <th>Semesters</th>

                <th width="220">Actions</th>

            </tr>

        </thead>

        <tbody>

            @if (Model.Any())
            {
                foreach (var item in Model)
                {
                    <tr>

                        <td>@item.CourseCode</td>

                        <td>@item.CourseName</td>

                        <td>@item.DurationInYears Years</td>

                        <td>@item.TotalSemesters</td>

                        <td>

                            <a asp-action="Details"
                               asp-route-id="@item.Id"
                               class="btn btn-info btn-sm">
                                Details
                            </a>

                            <a asp-action="Edit"
                               asp-route-id="@item.Id"
                               class="btn btn-warning btn-sm">
                                Edit
                            </a>

                            <a asp-action="Delete"
                               asp-route-id="@item.Id"
                               class="btn btn-danger btn-sm">
                                Delete
                            </a>

                        </td>

                    </tr>
                }
            }
            else
            {
                <tr>

                    <td colspan="5"
                        class="text-center">

                        No Courses Available.

                    </td>

                </tr>
            }

        </tbody>

    </table>

</div>